html {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}


.full-img{
    height: 40vw;
    position: relative;
}

.full-img h1{
    position: absolute;
    top: 50%;
    left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  margin: 0;
}

ul.stats{
  margin: 0;
  padding: 0;
}

ul.stats li{
  list-style-type: none;
  font-family: 'Market-Deco';
  font-size: 1.2em;
  padding-bottom: .25em;
  padding-top: .25em;
}

ul.stats li:not(:last-child){
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  max-width: 200px;
}

p{
  line-height: 1.625;
 color: #7b7b7b;
 font-weight: 500;
 font-family: 'Montserrat', sans-serif;
}

.bg-color-white{
	 box-shadow: 3px 6px 49px 3px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.footer-upper h3{
	font-size: 1.25em;
	color: white;
	margin-top: 0;
	font-family: "Montserrat", sans-serif;
}

.footer-upper .menu li{
	list-style-type: none;
}

.footer-upper .menu{
	padding-left: 0;

}

.bold{
	font-weight: 700;
}


.tours .page-header-wrap{
	background: url('/wp-content/uploads/2018/05/boat.jpg') 50% 50% / cover;
}

.gallery .page-header-wrap{
	background: url('/wp-content/uploads/2018/05/Buceo-98.jpg') 50% 50% / cover;
}

.page-header-wrap h1{
	font-family: 'Tiza', 'Market-Deco', sans-serif;
	margin-top: 1em;
	margin-bottom: .5em;
}



.navbar-default .navbar-nav .menu-book-a-tour a:hover, .navbar-default .navbar-nav .menu-book-a-tour a:focus, .navbar-default .navbar-nav .menu-book-a-tour a:active{
	background-color: #ffffff !important;
	color: #90C2B0 !important;
}

.navbar-default .navbar-nav li a{
	padding-top: .6em;
	padding-bottom: .6em;
	padding-left: 0;
	padding-right: 0;
	margin-left: 3em;
}

.navbar-collapse .menu-book-a-tour a, .navbar-default .navbar-nav .active.menu-book-a-tour a{
	 font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  background-color: #90C2B0;
  padding: 12px 50px;
  outline: none;
  border: 0px;
  transition: background-color, 500ms ease-in;
  border-radius: 5px;
  padding-right: 1.8em !important;
  padding-left: 1.8em !important;
}

.footer-bottom{
	font-size: .9em;
	padding-bottom: 1em;

}

.expand{
	width: 100%;
}

.cta{
	background: url(/wp-content/uploads/2018/05/boat-1.jpg) 50% 50% / cover;
	padding-top: 50px;
	padding-bottom: 50px;

}

.panel{
	 box-shadow: 3px 6px 49px 3px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	 -webkit-box-shadow: 3px 6px 49px 3px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	 padding: 1em 2em;
}

.form-container{
	max-width: 700px;
	margin: auto;
}

.gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]), .gform_wrapper textarea{
	margin-top: 0;
}

.form-container > p{
	text-align: center;
	margin-bottom: 3em;
}

.book-a-tour .page-header-wrap, .about-tamarindo .page-header-wrap{
	background: url(/wp-content/themes/roots/assets/img/background-placeholder.jpg) 50% 50% / cover;
}

.page-header-wrap, .page-header-wrap * {
	position: relative;
}

.page-header-wrap:before{
	content:'';
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .2);
	position: absolute;
	top: 0;
	left: 0;
}