html {
  height: 100%;
}

body {
  min-height: 100%;
  position: relative;
  //padding-bottom: 29px; //height of the footer
  background-color: red; 
  overflow-x: hidden;
}  

.site-header {
	position: absolute !important;
}

.page-header-wrap {
	padding-top: 95px;
	padding-bottom: 35px;
	background-color: #36586e;
	h1 {
		color: #fff;
		margin-top: 0px;
		margin-bottom: 0px;
		text-align: center;
	}
	@include bp-md {
		padding-top: 165px;
	}
}
