/*===========================
    # Colors
 ===========================*/
//$brand-primary:         darken(#428bca, 6.5%); // #337ab7
//$brand-success:         #5cb85c;
//$brand-info:            #5bc0de;
//$brand-warning:         #f0ad4e;
//$brand-danger:          #d9534f;

/*===========================
    # Typography
 ===========================*/
//$text-color:            $gray-dark;
//$link-color:            $brand-primary; //** Global textual link color.
//$link-hover-color:      darken($link-color, 15%); //** Link hover color set via `darken()` function.
//$link-hover-decoration: underline; //** Link hover decoration.

//$font-family-base:        $font-family-sans-serif;
//$font-size-base:          14px;

//$headings-font-family:    inherit;
//$headings-font-weight:    500;

//$font-size-h1:            floor(($font-size-base * 2.6)); // ~36px
//$font-size-h2:            floor(($font-size-base * 2.15)); // ~30px
//$font-size-h3:            ceil(($font-size-base * 1.7)); // ~24px
//$font-size-h4:            ceil(($font-size-base * 1.25)); // ~18px
//$font-size-h5:            $font-size-base;
//$font-size-h6:            ceil(($font-size-base * 0.85)); // ~12px

/*===========================
    # Header
 ===========================*/
//$navbar-default-color:             #777;
//$navbar-default-bg:                #f8f8f8;
//$navbar-default-border:            darken($navbar-default-bg, 6.5%);

/*===========================
    # Nav
 ===========================*/
// Navbar links
//$navbar-default-link-color:                #777;
$navbar-default-link-hover-color:          #5283a2;
//$navbar-default-link-hover-bg:             transparent;
//$navbar-default-link-active-color:         #555;
$navbar-default-link-active-bg:            transparent;
//$navbar-default-link-disabled-color:       #ccc;
//$navbar-default-link-disabled-bg:          transparent;

// Navbar toggle
//$navbar-default-toggle-hover-bg:           #ddd;
//$navbar-default-toggle-icon-bar-bg:        #888;
//$navbar-default-toggle-border-color:       #ddd;
//
//$nav-link-padding:                          10px 15px;
//$nav-link-hover-bg:                         $gray-lighter;

/*===========================
    # Dropdowns
 ===========================*/
//$dropdown-bg:                    #fff; //** Background for the dropdown menu.
//$dropdown-border:                rgba(0,0,0,.15); //** Dropdown menu `border-color`.
//$dropdown-fallback-border:       #ccc; //** Dropdown menu `border-color` **for IE8**.
//$dropdown-divider-bg:            #e5e5e5; //** Divider color for between dropdown items.
//$dropdown-link-color:            $gray-dark; //** Dropdown link text color.
//$dropdown-link-hover-color:      darken($gray-dark, 5%); //** Hover color for dropdown links.
//$dropdown-link-hover-bg:         #f5f5f5; //** Hover background for dropdown links.
//$dropdown-link-active-color:     $component-active-color; //** Active dropdown menu item text color.
//$dropdown-link-active-bg:        $component-active-bg; //** Active dropdown menu item background color.

/*====================================
    # Buttons
 ====================================*/
//$btn-font-weight:                normal;

//$btn-default-color:              #333;
//$btn-default-bg:                 #fff;
//$btn-default-border:             #ccc;

//$btn-primary-color:              #fff;
//$btn-primary-bg:                 $brand-primary;
//$btn-primary-border:             darken($btn-primary-bg, 5%);

//$btn-success-color:              #fff;
//$btn-success-bg:                 $brand-success;
//$btn-success-border:             darken($btn-success-bg, 5%);

//$btn-info-color:                 #fff;
//$btn-info-bg:                    $brand-info;
//$btn-info-border:                darken($btn-info-bg, 5%);

//$btn-warning-color:              #fff;
//$btn-warning-bg:                 $brand-warning;
//$btn-warning-border:             darken($btn-warning-bg, 5%);

//$btn-danger-color:               #fff;
//$btn-danger-bg:                  $brand-danger;
//$btn-danger-border:              darken($btn-danger-bg, 5%);

//$btn-link-disabled-color:        $gray-light;

// Allows for customizing button radius independently from global border radius
//$btn-border-radius-base:         $border-radius-base;
//$btn-border-radius-large:        $border-radius-large;
//$btn-border-radius-small:        $border-radius-small;

/*===========================
    # Breakpoint
 ===========================*/
//$grid-float-breakpoint:     $screen-sm-min;